/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




html {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    background: #3131d2;
    color: #f989d8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    position: absolute;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.box {
    display: block;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
}

.box img {
    max-width: 95%;
}

.box-inner {
    width: 100%;
    margin: auto;
    min-width: 400px;
    box-sizing: border-box;
    overflow-x: hidden;
}



.ui-tooltip {
    display: inline-block;
    max-width: 400px;
    font-size: 14px !important;
    box-shadow: none !important;
    border-radius: 5px;
    border: 0 !important;
    font-family: "HK Grotesk" !important;
    background: #232121 !important;
    color: #fcfcf9 !important;
}




/* STYLING FOR CANDIDATE PAGES */

.candidate-box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.candidate-portrait {
    box-sizing: border-box;
    max-width: 100%;
    margin: 1em;
}



/* NAVIGATION DROPDOWN */

#navigationbar {
    background: black;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 0 1em 0 1em;
    z-index: 999;
}

#navigationbar .navigation-title {
    font-family: "Termina";
    font-weight: 600;
    color: #c92222;
    margin: auto;
    height: 60px;
    line-height: 60px;
}

.dropbtn {
    background-color: #000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navigation-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.navigation-dropdown:hover .dropdown-content {
    display: block;
}

.navigation-dropdown:hover .dropbtn {
    background-color: #c92222;
}

.navigation-candidate {
    float: right;
}

.navigation-candidate h1 {
    display: inline-block;
    font-size: 24px;
    color: #fff;
}

.navigation-candidate strong {
    font-family: "HK Grotesk";
    padding: 0 .4em;
    color: #c92222;
}


/* ~~FOOTER */
#footer {
    padding: 1em;
    background: #000;
    min-height: 150px;
    height: auto;
}

#footer .footer-links {
    display: inline-block;
}

.footer-links a {
    display: block;
    text-align: left;
    color: #234cd3;
    font-size: 16px;
}

.box-footer img {
    display: inline-block;
    max-width: 90px;
    padding: .4em;
}

.box-footer p {
    text-align: left;
    display: inline-block;
    max-width: 360px;
    padding: 1em;
    font-family: "HK Grotesk";
    color: #fff;
    font-size: 15px;
    line-height: 22px;
}


/* CANDIDATES */

.box-links {
    display: inline-block;
    font-size: 18px;
}

.box-links a {
    padding: .5em;
    border: 1px solid #000;
    text-decoration: none;
    display: inline-block;
    color: black;

}

.candidate-box h2 {
    font-family: "Termina";
    color: #fff;
    display: inline-block;
    font-size: 18px;
}

.content-main {
    margin: 0 auto;
    max-width: 600px;
    padding-right: 25%;
}

.content-main h1 {
    font-family: "Termina";
    color: #fff;
    font-size: 2.8em;
    line-height: 1.1em;
    margin: 0;
}

.content-mainbio {
    font-family: "HK Grotesk";
}

.content-mainbio-title sup {
    font-size: 18px;
}


.mainbio-item {
    display: inline-block;
    min-width: 300px;
    color: #fff;
    font-size: 14px;
}

.mainbio-item strong {
    font-family: "Termina";
    font-size: 12px;
    color: #fff;
    padding-right: .3em;
}


/* Platform Items */

.box-content h2 {
    width: 100%;
    text-align: center;
}

.candidate-moreinfo {
    display: inline-block;
    width: 250px;
    font-family: "HK Grotesk";
    line-height: 14px;
    font-size: 14px;
    padding: .5em;
    background: blue;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin: 0 .2em .5em .2em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.candidate-moreinfo:hover {
    color: #b4eff7;
    transform: translateY(-1.4px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

}

.candidate-moreinfo i {
    font-size: 12px;
}

.content-salient-mobile {
    display: none;
}

.content-salient {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
}

.content-salient .platform-item {
    padding: .3em;
    margin-bottom: .3px;
    line-height: 20px;
    font-weight: 300;
    text-shadow: 0 1px 20px #302d2d;
    color: #000;
}

.content-salient .platform-item i {
    font-size: 20px;
    padding: .1em;
    text-shadow: none;
}


.content-platform {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
}

.platform-item {
    margin: 0 .3em 1em .3em;
    padding: .5em;
    box-sizing: border-box;
    font-family: "Work Sans";
    color: #fff;
    width: calc(93% / 2);
    font-size: 14px;
}


.content-divider {
    height: 1px;
    background: #fff;
    margin: 1em;
    box-sizing: border-box;
    display: block;
}

/* ~~ Experience */

.candidate-work h3 {
    font-family: "Work Sans";
    text-align: center;
    color: blue;
    margin: 1em 0 .4em 0;
    padding: .5em;
    font-size: 14px;
}



.experience-item {
    display: inline-block;
    max-width: 450px;
    margin: .3em .5em 1em .5em;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 800;
}

.experience-item h3 {
    display: inline-block;
    margin: 0;
    background: #c92222;
    font-family: "HK Grotesk";
    font-weight: 100;
    font-size: 13px;
    padding: .3em;
    color: #000;
    height: 12px;
}

.experience-item strong {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;

}

.experience-item i {
    font-weight: 100;
    font-family: "HK Grotesk";
    font-style: normal;
    font-size: 14px;
    display: block;
    padding: .3em;
}

.experience-item sub {
    font-weight: 100;
    padding: .3em;
    font-size: 10px;
    color: #8e8b8b;
}

.experience-item a {
    color: #fff;
    border-bottom: 1px solid blue;
    text-decoration: none;
}

.experience-item a:hover {
    color: yellow;
    border-bottom: #fff 1px solid;
}

/* ~~ Education */

.content-education {
    display: inline-block;
}

.education-item {
    text-align: left !important;
    display: block;
    max-width: 600px;
    margin: .3em .5em 1em .5em;
}

.education-item strong {
    font-family: "Work Sans";
    color: #ddaf3b;
    font-size: 16px;
    margin-right: .5em;
}

.education-item {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

/* ~~SUPPORT ITEM */

.support-item {
    display: block;
    text-align: left;
    color: #000;
    padding: .3em .5em .3em .5em;
}

.support-item a {
    color: #292e87;
    font-family: "HK Grotesk";
    font-size: 18px;
    padding: .3em;
    text-decoration: none;
}


/* MOBILE ADJUSTMENTS */


@media only screen and (max-width: 900px) {
    .content-salient {
        display: none;
    }

    .content-salient-mobile {
        display: block;
    }

    .content-salient-mobile .platform-item {
        display: inline-block;
        max-width: 200px;
        font-size: 13px;
        padding: .3em;
        margin-bottom: .3px;
        line-height: 20px;
        font-weight: 300;
        text-shadow: 0 1px 00 #302d2d;
    }


    .platform-item {
        width: 100%;
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 600px) {

    .content-salient {
        display: none;
    }

    .content-salient-mobile {
        display: block;
    }

    .content-salient-mobile .platform-item {
        display: inline-block;
        max-width: 200px;
        font-size: 13px;
        padding: .3em;
        margin-bottom: .3px;
        line-height: 20px;
        font-weight: 300;
        text-shadow: 0 1px 00 #302d2d;
    }


    .platform-item {
        width: 100%;
        margin-bottom: 0;
    }

    .navigation-dropdown,
    .navigation-title,
    #footer img {
        display: none;
    }

    .candidate-portrait {
        display: block;
        clear: both;
        float: none;
        border: 1em red solid;
    }
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    /* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    /* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
